S ::= Init1 Song Song Song Song;
Song ::= Song | (Song Song Song) | 
	(" |: " Song " :| ") | 
	Song1 ;
Song1 ::= Song0 Song0 Song0 Song0;
Song0 ::= 
	Takt | 
	(Takt " | " Song0) ;
Takt ::= 
	(Note Laenge) |
	(Note Laenge Takt) |
	("[" Note Laenge Note Laenge Note Laenge "]") |
	("[" Note Laenge Note Laenge Note Laenge "]" Takt) 
;

